target-version = "py311"
line-length = 88
src = ["src"]

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "**/__pycache__",
    "*.pyc",
]

[lint]
select = [
    "E",       # pycodestyle errors
    "W",       # pycodestyle warnings
    "F",       # pyflakes
    "I",       # isort
    "UP",      # pyupgrade
    "B",       # flake8-bugbear
    "N",       # pep8-naming
    "C4",      # flake8-comprehensions
    "SIM",     # flake8-simplify
    "PLC0415", # import-outside-toplevel
    "G",       # flake8-logging-format
    "D",       # pydocstyle
]

ignore = ["N805", "D401", "D105"]

[lint.pydocstyle]
convention = "google"

[lint.per-file-ignores]
"tests/**" = ["D"]
"src/agentskills/cli.py" = ["PLC0415"]

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
